body {
  background-color: #3f434b;
}
.App {
  max-width: 400px;
  margin: 0px auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.container {
  min-height: 100vh;
  margin: 23% auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chatMessage {
  word-break: break-all;
}

.controlPanel {
  display: inline-flex;
  align-content: center;
  margin-top: 1rem;
}

.message-panel {
  margin: 0px auto;
  width: 100%;
  height: 30rem;
  background-color: #f1f1f1;
  overflow: scroll;
}

.main-input-style {
  font-size: 1rem;
  border-radius: 5px;
  height: 2rem;
  border: 0px;
  padding: 0.2rem;
  text-indent: 0.5rem;
  width: 300px;
}

.main-input-button {
  display: inline-block;
  border-radius: 2px;
  background: #c1cfe6;
  margin-left: 0.5rem;
  width: 85px;
}

.main-input-button:focus {
  outline: 0;
}

.text-message-item {
  color: #6e7b80;
  padding-left: 0.5rem;
}

.login-error-message {
  position: absolute;
  font-size: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*** mobile style */

@media all and (max-width: 500px) {
  .main-input-button,
  .main-input-style,
  .main-input-style.chat {
    width: 100%;
    display: block;
    padding: 0px;
    margin: 10px 0 0px;
    height: 2rem;
  }

  .controlPanel {
    display: block;
  }
}
